<h1>Profile info</h1>
<p>Email: <%= @user.email %></p>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Age: <%= @user.age %></p>
<p>Weight: <%= @user.weight %></p>
